/*=====================================
//	SIMPLE RPG STYLE by duncan iaria
//===================================*/
html
{
    position: relative;
    min-height: 100%;
}

body
{
	font-size: 16px;
	color: #444;
	line-height: 1.5em;
	font-family: 'Nunito', sans-serif;
}

h1
{
	font-size: 1.5em;
	font-weight: bold;
}

.container
{
	width: 800px;
	max-height: 500px;
	margin: 0 auto;
	/*background-color: red;*/
}

/*PLAY AREA*/
.unit-column
{
	float: left;
	width: 138px;
	height: 100%;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
}

/*#character-bank
{
	background-color: blue;
}

#current-player
{
	background-color: green;
}

#current-enemy
{
	background-color: red;
}

#enemy-bank
{
 	background-color: orange;
}*/

#attack-button
{
	position: absolute;
	top: 100px;
	width: 100px;
	height: 300px;

    align-items: center;
	background-color: red;

	border: 0px #fff solid;
	border-radius: 4px;

	color: white;
	font-size: 1.25em;
	font-weight: bold;
	cursor: pointer;

}

.feedback-area
{
	text-align: center;
	clear: both;
	width: 100%;
}

#feedback-message
{
	color: #555;
}

#feedback-message > h1:nth-child(even)
{
	color: #777;
}


/*UNITS*/
.unit-container
{
	position: relative;
	display: inline-block;
	margin: 10px auto;

	font-weight: bold;

	width: 125px;
	height: 125px;
	border: 4px #fff solid;
	border-radius: 50%;
	background-color: #fff;

	box-shadow: 3px 3px 18px #ccc;
}

/*FLEX STUFF*/
/*.unit-container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}*/

.unit-image
{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.unit-stats-container
{
	position: absolute;
	bottom: 0px;
	width: 100%;

	color: #fff;
}

.unit-name
{
	text-align: center;
	width: 100%;
	margin-top: 6px;
}

.unit-health
{
	text-align: center;
	padding-top: 15px;
	margin: 0 auto;
	width: 50px;
	height: 35px;
	background-image: url( "../images/heart-md.png" );
	background-size: 100% 100%;
	/*background-repeat: no-repeat;*/
}

.debug
{
	background-color: red;
}